* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
/* HEADER */
.header-logo {
  width: 100px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  max-width: 1700px;
  margin: auto;
  padding: 20px 0;
}

header ul li {
  display: inline;
  padding: 0 10px;
}

header li a {
  color: darkslategrey;
  font-weight: bold;
}

header a.active {
  color: rgb(2, 130, 249);
  position: relative;
}

header a:hover {
  color: rgb(2, 130, 249);
  transition: 0.3s;
}

header a.active::after {
  content: "";
  width: 100%;
  height: 5px;
  background-color: rgb(2, 130, 249);
  position: absolute;
  left: 0;
  bottom: -100%;
}

/* MAIN */
main {
  /* display: flex;
  flex-direction: column; */
  flex-grow: 1;
  flex-shrink: 0;
  background-color: rgb(23, 23, 23);
}

.main-content {
  color: white;
}

.main-nav {
  background-color: rgb(2, 130, 249);
  color: white;
  padding: 40px 0;
}

.main-nav li {
  display: flex;
  align-items: center;
  gap: 25px;
}

.main-nav a {
  color: white;
}

.main-nav a:hover {
  text-decoration: underline;
}

.main-nav ul {
  display: flex;
  justify-content: space-evenly;
}

.main-nav-image {
  height: 50px;
}

.main-top-bg {
  background-image: url("../src/assets/images/jumbotron.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 500px;
}

.main-content .container {
  height: 100%;
  position: relative;
}
.float-label {
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  background-color: rgb(2, 130, 249);
  font-weight: bold;
  font-size: 18pt;
  padding: 10px 30px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.load-more-button {
  background-color: rgb(2, 130, 249);
  color: white;
  margin: auto;
  border: 0;
  padding: 10px 50px;
  font-weight: bold;
  font-size: 13pt;
  margin-bottom: 40px;
}

/* FOOTER */
footer {
  height: 100%;
}

.footer-links {
  background-image: url("../src/assets/images/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  height: 400px;
  overflow: hidden;
  color: white;
}

.footer-links .container {
  display: flex;
  height: 100%;
  align-items: center;
}

.footer-links a {
  color: grey;
}

#dc-footer-image {
  height: 140%;
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
}

.footer-links-col {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer-links-col h4 {
  margin-bottom: 10px;
}

.footer-links-row {
  display: flex;
  gap: 50px;
}

.footer-links a:hover {
  color: rgb(183, 183, 183);
}

.footer-end {
  background-color: rgb(48, 48, 48);
  height: 10vh;
}

.footer-end .container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}
.footer-end .button {
  padding: 15px 25px;
  border: 3px solid rgb(2, 130, 249);
  color: white;
}

.button:hover {
  text-decoration: underline;
}

#follow-us {
  color: rgb(2, 130, 249);
}

.footer-end .contacts {
  display: flex;
  gap: 30px;
}

.contacts ul {
  display: flex;
  gap: 20px;
}

/* COMICS */
.comics-container {
  margin: 40px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.comics-card {
  display: flex;
  flex-direction: column;
  gap: 20px;

  flex-basis: calc((100% - 250px) / 6);
}

.comics-image {
  width: 175px;
  height: 270px;
}

.comics-card span {
  text-transform: uppercase;
}
